button{
    padding: 2px;
    margin: 5px;
}

.counter{
    display: inline-flex;
    align-items: center;
}

#botonADD{
    width: 200px !important;
    margin: 10px;
    align-items: center;
}

.btn{
    margin: 2px;
    height: 40px;
    align-items: center;
}