button{
    padding: 2px;
    margin: 5px;
}

.counter{
    display: inline-flex;
    align-items: center;
}

.btns{
    text-align: center;
    display: inline-flex;

}

#botonADD{
    width: 200px !important;
    margin: 10px;
    align-items: center;
}

.btn{
    margin: 2px;
    height: 40px;
    align-items: center;
}

.noStock{
    color: red;
}